[submodule "stable-baselines3"]
	path = stable-baselines3
	url = git@github.com:ajwagen/stable-baselines3-dsrl.git
[submodule "dppo"]
	path = dppo
	url = git@github.com:ajwagen/dppo-dsrl.git
[submodule "stable-baselines3/"]
	url = https://github.com/vyseian/stable-baselines3-dsrl_dp.git
